:root {
  box-sizing: border-box;
  padding: 0px 40px 0px 40px;
  color: #222222;
  min-width: 700px;
}


.main{
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #fff;
}

.navContainer{
  /* flex-grow: 1; */
  background-color: aqua;
}

.contentContainer{
  /* flex-grow: 1; */
}

