
.main{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #fff;
}

.navContainer{
    /* flex-grow: 1; */
}

.contentContainer{
    /* flex-grow: 1; */
    /* background-color: rgb(224, 224, 224); */
}



