



.profileModalWrapper{
    width: 230px;
    height: 180px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    position: absolute;
    border: 1px solid #EBEBEB;
    top: 80px;
    right: 48px;
    z-index: 5;
}

.modalList{
    width: 230px;
    height: 180px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    position: relative;
}

.modalList > li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    list-style-type: none;
    cursor: pointer;
}

.modalList > li:first-child { border-radius: 20px 20px 0px 0px; }
.modalList > li:last-child { border-radius: 0px 0px 20px 20px; }

.modalList > li:hover{
    background-color: rgb(246, 246, 246);
}



.LinkStyle{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;  
    text-decoration: none; 
    color: inherit; 
}


@media screen and (max-width: 720px) { 
    .profileModalWrapper {
        display: none; 
    }
}


