


.listDatailWrapper{
    margin-top: 20px;
    margin-bottom: 40px;
}

.listDatailHeaderContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listDatailHeaderContainer h2{
    margin: 0;
}


.heartContainer{
    width: 63px;
    height: 33px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.heartContainer span{
    margin-left: 10px;
    font-weight: 700;
}
.heartContainer:hover{
    background-color: rgb(246, 246, 246);
}

.imageWrapper{
    margin: 20px 0 20px 0;
    height: 50vh;
    display: flex;
    justify-content: space-between;

}
.leftImgContainer{
    flex-grow: 1.5;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;

    border-radius: 20px 0 0 20px;
}
.leftImgContainer img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.midImgContainer{
    flex-grow: 1;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.rightImgContainer{    
    flex-grow: 1;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;

    border-radius: 0px 20px 20px 0px;
}