


.userProfileWrapper{
    height: 1000px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.profileTagWrapper{
    width: 300px;
    height: 150px;
    border-radius: 20px;
    padding: 32px 24px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 4px 6px rgba(26, 26, 26, 0.23);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.profileDefailWrapper{
    width: 455px;
    padding: 20px;
}

.userNameWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
}
.userSignedInWrapper{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userNameLetterImgContainer{
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 50px;
}
.userNameContainer{

}

.userInfoEditBtn{
    padding: 5px;
    width: 120px;
    height: 40px;
    border: 1px solid #222222;
    border-radius: 10px;
    margin-bottom: 20px;
}
.userIntroduceContainer{
    
    display: flex;
    flex-direction: column;
}
.userIntroduceContainer span{
    margin-bottom: 10px;
}
  
  /* 950px 미만에서 적용될 스타일 */
  @media (max-width: 971px) {
    .userProfileWrapper{
        height: 1000px;
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
    .profileTagWrapper{
        width: 300px;
        height: 150px;
        border-radius: 20px;
        padding: 32px 24px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 4px 6px rgba(26, 26, 26, 0.23);
        background-color: rgb(255, 255, 255);
    }
    .profileDefailWrapper{
        width: 455px;
    }
  }