




.mainFilterWrapper{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dogFilterContainer{
    height: 56px;
}
.catFilterContainer{
    height: 56px;
}

.dogFilterContainer a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;  
    text-decoration: none; /* 링크의 밑줄 제거 */  
    color: inherit; /* 링크의 색상 제거 */

}
.dogFilterContainer span{
    font-weight: 700;
}

.catFilterContainer a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    text-align: center;  
    text-decoration: none; /* 링크의 밑줄 제거 */  
    color: inherit; /* 링크의 색상 제거 */
}
.catFilterContainer span{
    font-weight: 700;
}